.contact {
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
  }
  
  .contact h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .contact p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .contact-icon {
    margin-right: 10px;
    font-size: 1.5em;
  }
  
  .contact a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .contact a:hover {
    color: #0073e6;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-icon {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #0073e6;
  }
  